$widths-map: (
  w-0: ( width: 0 ),
  maxw-0: ( max-width: 0 ),
  maxw-none: ( max-width: none ),
  w-auto: ( width: auto )
);

@each $name, $value in $widths {
  $widths-map: map-merge($widths-map, (
    w-#{$name}: ( width: $value ),
    maxw-#{$name}: ( max-width: $value ),
    minw-#{$name}: ( min-width: $value ),
  ));
}

@include rules($widths-map);
